html {
  font-size: 100%;
}

body {
  background: whitesmoke;
  color: dark;
  font-family: "open sans", sans-serif;
  font-size: 20px;
} 

/* $desktop: 1200px;
$laptop: 1024;
$tablet:768;
$phone: 480; 

/* resize everything based on font-size */
@media screen and (min-width: 1200px) {
  html { 
    font-size: 100%;
  }
}

@media screen and (max-width: 1024px) {
  html {
    font-size: 90%;
  }
}

@media screen and (min-width: 760px) {
  html {
    font-size: 70%;
  }
}

@media screen and (max-width: 480px) {
  html {
    font-size: 60%;
  }
  #Skills ul{
    display: grid;
    grid-template-columns: repeat(7,0.5fr); 

  }
}



.img-size{
  width: 1em;
  height: 1em;  
}


  .links {
  color: darkmagenta; 
  font-size: large;
} 

 .links a {
  text-decoration: none;
}
.menu-nav {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding-inline-start: 0;
  width: 100%;
  align-items: center;
} 

.menu-nav li:first-child{
  color:blue;

}

h2 {
  color: darkviolet;
  font-size: 2rem;
  font-weight: normal; 
}

 .mypic {
  width: 200px;
  clip-path: circle();
  vertical-align: middle;
} 
#about span{
  color: blue;
}

a {
  color: darkmagenta;
} 

.Experience {
  display: grid;
  grid-template-columns: 1fr;
  list-style-type: none;
  padding-left: 0;
}

.Experience li {
  margin: 5px;
  padding: 5px;
  background-color: lightgrey;
  display: flex;
  justify-content: space-between; 
}

.leave_message {
  display: grid;
  grid-template-columns: 1fr;
  padding: 5px;
  background-color: cornsilk;
  width: fit-content;
}

#skills ul {
  display: grid;
  grid-template-columns: repeat(7,0.5fr); 
  grid-template-rows: 1fr;
  list-style-type: none;
  padding-left: 0;
  grid-gap: 10px;

}

#skills li {
  font-size: 1.8rem;
  background-color: lightgray;
}

.connect-list li {
  display: inline;
}

.label-form {
  color: black;
  font-size: x-large;
}

.field {
  display: inline-block;
}

.input-form {
  color: black;
  border: black 2px solid;
  font-size: 1em;
  padding: 10px;
}

.btn {
  background-color: blue;
  color: white;
  border: 0;
  padding: 10px;
}

.textarea {
  width: 300px;
  height: 100px;
  border-radius: 10px;
  border: black 3px solid;
  font-size: 2rem;
  padding: 1rem;
}

.Messages li {
  list-style-type: none;
  margin: 5px 0;
}

 .removeButton {
  background-color: red;
  padding: 5px;
}

.editButton {
  background-color: lightgrey;
  padding: 5px;
}

.footer {
  background-color: lightgrey;
  padding: 5px;
}

.connect-section {
  justify-content: flex-end;
  display: flex;
  list-style-type: none;
  position: relative;
  bottom: -50px;
}

@media screen and (min-width: 768px) {
  .menu-nav {
    flex-direction: row;
    display: flex;
    width: 50%;
    align-items:flex-end;
  list-style-type: none;
  justify-content: space-between; 
  margin-left: 50%;
  
  } 
  .manu-nav li {
    margin-right: 10px;
    width: 100px;
  text-align: center;
  font-size: 30px;
  }
    
  }




