html {
  font-size: 100%;
}

body {
  background: #c2dde6;
  color: dark;
  font-family: "open sans", sans-serif;
  font-size: 20px;
  margin: 0;
} 

/* $desktop: 1200px;
$laptop: 1024;
$tablet:768;
$phone: 480; 

/* resize everything based on font-size */
@media screen and (min-width: 1200px) {
  html { 
    font-size: 100%;
  }
}

@media screen and (max-width: 1024px) {
  html {
    font-size: 90%;
  }
}

@media screen and (min-width: 760px) {
  html {
    font-size: 70%;
  }
}

@media screen and (max-width: 480px) {
  html {
    font-size: 60%;
  }
  #Skills ul{
    display: grid;
    grid-template-columns: repeat(7,0.5fr); 

  }
}

.wrapper{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(8, 0.1fr);
}

.img-size{
  width: 1em;
  height: 1em;  
}


  .links {
  color: darkmagenta; 
  font-size: large;
} 

 .menu-nav a {
  text-decoration: none;
}
.menu-nav {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding-inline-start: 0;
  width: 100%;
  align-items: center;
  background-color: cadetblue;
  margin: 0;
  position:sticky;
  top:0;
  z-index: 90;
} 

.menu-nav li:first-child{
  color:blue;

}

h2 {
  color: darkviolet;
  font-size: 2rem;
  font-weight: normal; 
}

 .mypic {
  width: 200px;
  clip-path: circle();
  vertical-align: middle;
} 
#about span{
  color: darkmagenta;
}

a {
  color: darkmagenta;
} 

.Experience {
  display: grid;
  grid-template-columns: 1fr;
  list-style-type: none;
  padding-left: 0;
}

.Experience li {
  margin: 5px;
  padding: 5px;
  background-color: #bccbde;
  display: flex;
  justify-content: space-between 
}

.leave_message {
  display: grid;
  grid-template-columns: 1fr;
  padding: 5px;
  background-color: cornsilk;
  width: fit-content;
}

#skills ul {
  display: grid;
  grid-template-columns: repeat(7,0.1fr); 
  list-style-type: none;
  padding-left: 0;
  grid-gap: 5px;

}

#skills li {
  font-size: 1.8rem;
  background-color:#bccbde;
}



#skills li:nth-child(1), #skills li:nth-child(2), 
#skills li:nth-child(3), #skills li:last-child{
  padding-top: 1rem;
}



.connect-list li {
  display: inline;
}

.label-form {
  color: black;
  font-size: x-large;
}

.field {
  display: inline-block;
}

.input-form {
  color: black;
  border: black 2px solid;
  font-size: 1em;
  padding: 10px;
}

.btn {
  background-color: blue;
  color: white;
  border: 0;
  padding: 10px;
}

.textarea {
  width: 300px;
  height: 100px;
  border-radius: 10px;
  border: black 3px solid;
  font-size: 2rem;
  padding: 1rem;
}

.Messages li {
  list-style-type: none;
  margin: 5px 0;
}

 .removeButton {
  background-color: red;
  padding: 5px;
}

.editButton {
  background-color: lightgrey;
  padding: 5px;
}

.footer {
  background-color: lightgrey;
  padding: 5px;
}

.connect-section {
  justify-content: space-between;
  flex-direction: row-reverse;
  display: flex;
  list-style-type: none;

}

@media screen and (min-width: 768px) {
  .menu-nav {
    flex-direction: row;
    display: flex;
    width: 100%;
    align-items:flex-end;
  list-style-type: none;
  justify-content: space-between; 
  
  } 
  .manu-nav li {
    margin-right: 10px;
    width: 100px;
  text-align: center;
  font-size: 30px;
  }

  #skills ul{
    grid-template-columns: repeat(7,1fr); 
  }

  #skills li:first-child{
  padding:0;
  padding-left: 3.6rem;
}

#skills li:nth-child(2), #skills li:nth-child(3){
  padding-top: 0;
  padding-left: 5.5rem;
}

#skills li:nth-child(4),#skills li:nth-child(5), 
#skills li:nth-child(6){
  padding-left: 1rem;
}

#skills li:last-child{
  padding-top: 0;
  padding-left: 3rem;
}
    
  }

  @media screen and (min-width: 900px) {
    .menu-nav{
      align-items: center;
      justify-content: space-around;
    }
    html{
      padding-right: 5rem;
      padding-left: 5rem;
      margin-bottom: 5px;
    }
  }



